In [1]:
import matplotlib.pyplot as plt
import pandas
from matplotlib.pyplot import figure
import numpy as np
import plotly as py
import plotly.graph_objs as go
from plotly import tools
from datetime import datetime
from datetime import timedelta

# Training Phase

In [14]:
training_set = pandas.read_csv('./data/Learning/Training_set.csv')
groundTruth17 = pandas.read_csv('./data/17/groundTruthEdited.csv')
groundTruth17[['evento','startIndexinAcc','endIndexinAcc']][2:8]

             evento  startIndexinAcc  endIndexinAcc
2  freada_agressiva             7173           7325
3  freada_agressiva             7683           7834
4  freada_agressiva             8396           8599
5  freada_agressiva            11198          11349
6  freada_agressiva            11911          12062
7  freada_agressiva            12624          12776

In [29]:
brakingStatus = [None] * len(training_set)
brakingStatus[0:7172] = 0
brakingStatus

TypeError: can only assign an iterable

1